
.header__button-text {
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
    background: var(--color-white);
    border: 1px solid var(--color-button-border);
    color: var(--color-button-text);
    border-radius: 4px;
    transition: .4s;
}

.header__button-text:hover {
    transition: .4s;
    background: var(--color-button-backgroundHoverLogin);
}

@media (max-width:370px) {
    .header__button-text {
        width: 5rem;
        height: 2rem;
    }
}

.hide {
    display: none;
}