
.us__bar {
    position: relative;
    display: block;
}
   
.us__bar:before, .us__bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
   
.us__bar:before {
    left: 50%;
}
   
.us__bar:after {
    right: 50%;
}